div {
    width: 430px;
    margin-left: 30%;
    margin-top: 5%;
    border: solid 1px;
    background-color: #3b322d;
    border-radius: 10px;
    padding-bottom: 5px;
    height: 700px;

}

/*input[type="text"] {
    border: solid 1px;
    border-radius: 15px;
    width: 95%;
    height: 100px;
    padding: 10px;
    font-size: 70px;
    outline: none;
    font-weight: normal;
    color: #555;
    margin-left: 2px;
    margin-right: 2px;
}
*/
/*.display{
    margin-left: 30px;
}
*/
.equal {
    background-color: #dc3545;
    color: #f9f9f9;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
}
.button {
    background-color: white;
    color: #333;
    transition: all 0.1s ease-in-out;
    border-radius: 10px;
}
.button {
    background-color: white;
    color: #333;
    transition: all 0.1s ease-in-out;
    border-radius: 10px;
}
/*.operator{
    background-color: #20c997;
    color: #f9f9f9;
    border-radius: 10px;
}
*/
.cancel{
    background-color: lightseagreen;
    color: white;
    border-radius: 10px;
}
.button:hover {
    background-color: #222;
    color: #f5f5f5;
    transition: all 0.1s ease-in-out;
}
.operator:hover{
    background-color: #007bff;
    color: #f5f5f5;
    transition: all 0.1s ease-in-out;
}
.cancel:hover{
    background-color: orangered;
    color: #f5f5f5;
    transition: all 0.1s ease-in-out;
}
.equal:hover{
    background-color: red;
    font-size: 70px;
    color: #f5f5f5;
    transition: all 0.1s ease-in-out;
}